.no-margin {
    margin: 0;
}
.no-gutter > [class*='col-'] { //add class="no-gutter" to row
    padding-right:0;
    padding-left:0;
}

body {
    background: #2D2D2D;
}

h1.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5em;
    margin: 0 0 0.25em 0;
}
    h1.navbar-brand a:hover{
        text-decoration: none;
    }

h4 {
    background: #2D2D2D;
    border-left: 4px solid #12A8C9;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: normal;
    padding: 7px 0 7px 15px;
    text-transform: capitalize;

}
    h4 a {
        color: #fff;
        float: right;
        font-size: 0.8em;
        font-weight: normal;
        padding-right: 1em;
    }
        h4 a:hover {
            color: #fff;
        }

h5 {
    white-space: nowrap;
}

#categories h5,
.featuredlistings h5 {
    background: #ededed none repeat scroll 0 0;
    margin-bottom: 0;
    padding: 0.25em;
    white-space: nowrap;
}

.container {
    background: #ffffff;
}

.navbar {
    margin-bottom: 0;
}

.footer {
    background: #999999;
    font-size: 0.9em;
    margin-top: 1em;
    padding: 0.5em 1em;
}

.divider-vertical {
    height: 1.2em;
    margin: 0 2px;
    border-right: 1px solid #F2F2F2;
}

#sidebar-reviews img,
#sidebar-events img,
#sidebar-guides i {
    color: #337ab7;
    float: left;
    margin: 0 0.5em 0 0;
}
#sidebar-guides i {
    font-size: 4.0em;
}

#sidebar-reviews h5 {
    padding: 0;
    margin: 0;
}
#sidebar-reviews div,
#sidebar-events div,
#sidebar-guides div {
    margin-bottom: 0.5em;
}

#sidebar-events p {
    margin-bottom: 0.1em;
}
#sidebar-events strong {
    text-decoration: underline;
}

.festival {
    color: green;
}
.health-wellbeing {
    color: blueviolet;
}
.sports {
    color: purple;
}

.dropdown-menu {
    border: none;
}

#social-icons {
    font-size: 1.3em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    border-left: 4px solid #12A8C9;
    padding-left: 11px;
}

/* WEATHER */
.wi {
    font-size: 2em;
    margin-top: 0.5em;
}

/* Listing page */
#map-container { height: 150px }

.listingpage h1 {
    font-size: 2.25em;
    margin-bottom: 0;
}
.listingpage h2 {
    font-size: 1.75em;
    margin: 0;
}

.listingpage p strong {
    text-decoration: underline;
    font-weight: normal;
}

.breadcrumb {
    margin-bottom: 0;
}

.gallery-thumbs img {
    float: left;
    margin: 5px 5px 0 0;
}
    .gallery-thumbs img.last {
        margin-right: 0;
    }

.top-margin {
    margin-top: 0.6em;
}

.center {
    text-align: center;
    display: block;
}