.no-margin {
    margin: 0;
}
.no-gutter > [class*='col-'] { //add class="no-gutter" to row
    padding-right:0;
    padding-left:0;
}

h4 {
    background: #999;
    font-size: 1.2em;
    padding: 4px 0 4px 15px;
    text-transform: capitalize;
}
    h4 span {
        float: right;
        font-size: 0.8em;
        padding-right: 1em;
    }

.container {
    background: #ffffff;
}

.footer {
    background: #999999;
    font-size: 0.9em;
    padding: 0.5em 1em;
}

.divider-vertical {
    height: 1.2em;
    margin: 0 2px;
    border-right: 1px solid #F2F2F2;
}

#sidebar-reviews img {
    float: left;
    margin: 0 0.5em 0 0;
}
#sidebar-reviews h5 {
    padding: 0;
    margin: 0;
}